body{
    background-image:url(https://i.pinimg.com/564x/bc/36/74/bc3674d8f49dae2875fe3b9df55b868b.jpg);
}

.profile img{
    width:22%;
    height: 26%;    
    border-radius: 50%;
    left: 40%;
    top: 10%;
    position: absolute;

}
.accbox{
    border: 2px;
    height: 35%;
    width: 30%;
    background-color: #ffffff10;
    backdrop-filter: blur(15px);
    border-color: rgb(67, 41, 211);
    border-style: solid;
    border-radius: 30px; 
    position: absolute;
    padding-top: 15%;
    padding-left: 5%;
    margin-top: 10%;
    margin-left:33% ;

}
.input-box input {
    width: 200px;
    background: none;
    border-radius: 20px;
    outline: none;
}

.input-box span{
    font-weight: bold;
}

.In button{
    width: 150px;
    background-color: transparent;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 27%;
    font-weight: bold;
}

a{
    font-weight: bold;
    font-size: 15px;
    color: rgb(255, 255, 255);
}

